html
  background-color #606c76
  color #f4f5f6

.pure-menu-link
.pure-menu-heading
  color #f4f5f6

.slideout-panel
  background-color: #606c76
  position: relative
  z-index: 1
  will-change: transform
  min-height: 100vh

